
*{
    box-sizing: border-box;
}
/* common css */
.container{
    max-width: 1280px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
}
.search-parent{
    position: relative;
    color: #bababa;
}

.search-parent input{
    border-radius: 66px;
    padding: 15px 30px;
    width: 400px;
    background-color: rgb(245, 234, 234);
    border: none;
}
.search-parent i{
    position: absolute;
    top: 12px;
    right: 25px;
    color: black;
    font-size: 25px;
}

.nav-items{
    display: flex;
    gap: 40px;
}
.nav-items li{
    list-style: none;
}
.nav-items li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
  
/* banner */
.banner{
    background-color: #FEEAE9;
    display:flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}
.banner img{
    width: 482px;
    height: 378px;
}

.banner h2{
    color: #1F1F1F;
    /* font-family: Poppins; */
    font-size: 56px;
    font-weight: 700;
    /* line-height: 84px; */
    /* letter-spacing: 0; */
    /* text-align: left; */
}
.banner p{
    color: #4e4e4e;
}