* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* common css */
.container {
    max-width: 1280px;
    margin: auto;
}

.panda-btn {
    background-color: #FF2279;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
}
.panda-btn:hover{
    background-color: #FF4401;
}

.common-section-title{
    font-weight: 600px;
    font-size: 46px;
    /* padding-left: 26px; */
    text-align: center;
}

/* 
======================== */

nav {
    display: flex;
    justify-content: space-between;
    padding: 2px 0px;
    
}

.search-parent {
    position: relative;
    color: #bababa;
    margin-top: 10px;
}

.search-parent input {
    border-radius: 66px;
    padding: 15px 30px;
    width: 400px;
    background-color: rgb(245, 234, 234);
    border: none;
}

.search-parent i {
    position: absolute;
    top: 12px;
    right: 25px;
    color: black;
    font-size: 25px;
}

.nav-items {
    display: flex;
    gap: 30px;
    padding-right: 35px;
    align-items: center;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

/* banner */
.banner {
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 25px;
    border-radius: 25px;
    margin-top: 25px;
}

.banner img {
    width: 482px;
    height: 378px;
}

.banner h1 {
    color: #1F1F1F;
    width: 560px;
    /* font-family: Poppins; */
    font-size: 43px;
    font-weight: 600;
    /* line-height: 84px; */
    /* letter-spacing: 0; */
    /* text-align: left; */
}

.banner p {
    color: #4e4e4e;
    max-width: 400px;
}

.banner-price {
    color: #FF136E;
    font-size: 65px;
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
}

/* category section  */
.categories{
    margin: 64px auto;
}
.categories-card-container{
    display: flex;
    background-color: #fafafa;
    padding: 20px;
    gap: 26px;
    width: 100%;
    
}
.category-card{
    /* background-color: #FFD019; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    /* gap: 4px; */
    flex: 1;
}

/* for categories bg-color */
.category-card:nth-child(1){
    background-color: #FFD019;
}
.category-card:nth-child(2){
    background-color: #FF428D;
}
.category-card:nth-child(3){
    background-color: #4035FA;
}
.category-card h3{
    color: white;
    font: bold;
    font-size: 30px;
}

/* shoes */
.shoes-backpack-parent{
    background-color: #F3F3F3;
}
.shoes-backpack-section-title-parent{
    display: flex;
    justify-content: space-between;
}
.shoes-backpack-section-title-parent h2{
    font-size: 36px;
    font-weight: bold;
}
.shoes-backpack-section-title-parent p{
    font-size: 20px;
    color: #ff9f05;
}
.shoes-section{ 
   padding: 50px 0px;
}
.shoe-card-container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.shoe-card{
background-color: white;
border-radius: 10px;
text-align: center;
padding: 25px;
}

.shoe-card img{
width: 336px;
height: 282px;
}

.card-price{
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}
.shoe-card .panda-btn{
    background-color: black;
}
.shoe-card .panda-btn:hover{
    background-color: #FF136E;
}
.shoe-card p{
}

/* contact us */

.contact-us-parent{
    background-color: #b4aca9;
    text-align: center;
    padding: 35px 15px;
    margin: 35px auto;
}

.contact-inp-btn-parent input{
    border: none;
    padding: 10px 152px;
    border-radius: 10px;
}

.contact-inp-btn-parent{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.contact-inp-btn-parent .panda-btn{
    border-radius: 50px 20px;
}